@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  max-width: 100%;
  min-width: 375px;
  background-color: #e5e5e5;
}

header {
  width: 100%;
  height: 68px;
  background: #3c3a39;
  display: flex;
  align-items: center;
  position: fixed;
}

main {
  background-color: #1c1a19;
}

.tool_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 44px;
  padding: 1px 24px;
  margin-left: 10px;
}

.tool_bar a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #ffff;
  cursor: pointer;
  padding-left: 12px;
}

.tool_bar img {
  margin-right: 24px;
  cursor: pointer;
}

.tool_bar img:hover {
  color: rgba(255, 255, 255, 0.582);
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  width: 100%;
  height: 590px;
  background: #1c1a19;
  background-image: url(./assets/background_image.svg);
  background-repeat: no-repeat;
  background-position: right 115%;
}

.headline h1 {
  width: 327px;
  height: 124px;
  font-family: 'Crete Round', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.tool_bar h1:hover {
  color: rgba(255, 255, 255, 0.582);
}

.headline h2 {
  margin-top: 12px;
  width: 327px;
  height: 27px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 32px;
  color: #fff5e1;
}

.headline p {
  margin-top: 12px;
  width: 327px;
  height: 123px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 24px;
  color: #fff;
}

.social_media {
  display: flex;
  margin-top: 12px;
  justify-content: space-between;
  width: 200px;
  height: 40px;
  list-style: none;
}

.fa {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.9s ease;
}

.fa:hover {
  background-color: rgba(255, 255, 255, 0.151);
}

.fa:active {
  width: 50px;
  height: 50px;
}

.fa-github {
  background-image: url("./assets/github_icon.svg");
}

.fa-linkedin {
  background-image: url("./assets/linkedin_icon.svg");
}

.fa-angelist {
  background-image: url("./assets/angelist_icon.svg");
}

.fa-twitter {
  background-image: url("./assets/twitter_icon.svg");
}

.fa-medium {
  background-image: url("./assets/medium_icon.svg");
}

.main_middle_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
  padding: 24px;
}

.main_middle_section h3 {
  margin-top: 100px;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #1c1a19;
}

.title_line {
  height: 1px;
  background-color: #21212165;
  margin-top: 30px;
  margin-bottom: 30px;
}

.main_articles_container {
  width: 100%;
  display: grid;
  place-content: center;
  grid-auto-rows: 500px;
  column-gap: 12px;
  grid-template-areas: "header";
  margin-bottom: 120px;
}

.multi_post_card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-area: header;
  place-self: center;
}

.multi_post_image {
  margin-top: 65px;
}

.multi_post_image_desktop {
  display: none;
}

footer h4 {
  text-align: center;
  font-family: 'Inter', sans-serif;
  width: 327px;
  font-style: normal;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 44px;
  padding: 5px;
  margin: 0 24px;
  margin-top: 120px;
  margin-bottom: 70px;
  color: #172b4d;
}

.multi_post_card h4 {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  margin-top: 24px;
}

.multi_post_card p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 12px;
  max-width: 320px;
}

.techs_used {
  display: flex;
}

.techs_used li {
  list-style: none;
  padding: 10px 12px;
  border: 1px solid #8993a4;
  margin-right: 15px;
  font-weight: 500;
  font-size: 1.5rem;
  font-family: 'Inter', sans-serif;
}

footer button {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 1.7rem;
  padding: 12px;
  width: 130px;
  height: 48px;
  background-color: #ff6b00;
  justify-self: center;
  margin-left: calc(50% - 65px);
  border: none;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.multi_post_card button {
  align-self: flex-start;
  padding: 12px;
  width: 124px;
  height: 48px;
  background: #ff6b00;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.7rem;
  border: none;
  margin-top: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.project_card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 386px;
  width: 327px;
  background-image: url(./assets/project_image.svg);
  padding-top: 80px;
  place-self: center;
}

.project_card h4 {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin-left: 24px;
}

.project_card p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-left: 24px;
}

.techs_used_project {
  display: flex;
}

.techs_used_project li {
  list-style: none;
  margin-top: 4px;
  margin-left: 24px;
  padding: 10px 12px;
  background-color: rgba(255, 255, 255, 0.24);
  font-weight: 500;
  font-size: 1.5rem;
  font-family: 'Inter', sans-serif;
  color: #fff;
}

.project_card button {
  padding: 12px;
  width: 327px;
  height: 48px;
  background: #ff6b00;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.7rem;
  border: none;
  margin-top: 31px;
  cursor: pointer;
  transition: all 0.6s ease-out;
}

.about_me_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #1c1a19;
  padding: 24px;
  align-items: flex-start;
  background-image: url(./assets/background_img_about_me.svg);
  background-repeat: no-repeat;
  background-position: right 92%;
}

.title_line_two {
  width: 80%;
  height: 1px;
  background-color: #fff;
  margin-top: 200px;
  margin-left: 40px;
}

.about_me_section h4 {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  color: #ff6b00;
  margin-top: 100px;
}

.about_me_section p {
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  margin-top: 12px;
}

.about_me_section button {
  align-self: flex-start;
  padding: 12px;
  width: 161px;
  height: 48px;
  background: #ff6b00;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.7rem;
  border: none;
  margin-top: 24px;
  cursor: pointer;
  transition: all 0.3s ease;
}

footer button:hover {
  background: #ff6a00bd;
  border: solid #ff6b00;
  border-width: 2px;
}

footer button:active {
  background: #cf2900b7;
  border: none;
}

.project_card button:hover {
  background: #ff6a00bd;
  border: solid #ff6b00;
  border-width: 2px;
}

.project_card button:active {
  background: #ff33008f;
  border: none;
}

.multi_post_card button:hover {
  background: #b14a00d0;
  border: solid #ff6b00;
  border-width: 2px;
}

.multi_post_card button:active {
  background: #b42107c4;
  border: none;
}

.about_me_section button:hover {
  background: #b14a00d0;
  border: solid #ff6b00;
  border-width: 2px;
}

.about_me_section button:active {
  background: #ff33008f;
  border: none;
}

.skills_section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #1c1a19;
  color: #fff;
  padding-top: 80px;
  padding-bottom: 60px;
}

.skills_section ul {
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  font-size: 3.2rem;
  font-family: 'Inter', sans-serif;
  margin-top: 44px;
  font-weight: 700;
  position: relative;
}

.skills_section li {
  font-size: 2.2rem;
  font-family: 'Inter', sans-serif;
  margin-top: 32px;
  font-weight: 300;
}

.diamond_icon {
  position: absolute;
  left: -10px;
  top: 5px;
  width: 28px;
  height: 28px;
  background-image: url(./assets/diamond_icon.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.square_icon {
  position: absolute;
  left: -10px;
  top: 5px;
  width: 28px;
  height: 28px;
  background-image: url(./assets/square_icon.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.circle_icon {
  position: absolute;
  left: 20px;
  top: 5px;
  width: 28px;
  height: 28px;
  background-image: url(./assets/circle_icon.svg);
  background-position: center;
  background-repeat: no-repeat;
}

footer {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_container ul {
  list-style: none;
}

input {
  margin-left: 24px;
  margin-right: 24px;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  padding: 14px;
  border: none;
  border-bottom: solid #dbdbd7 1px;
  min-width: 325px;
  width: 50vw;
}

footer textarea {
  height: 114px;
  width: 50vw;
  min-width: 325px;
  margin: 24px;
  padding: 12px;
  background-color: #fbf8f7;
  border: none;
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
}

.social_media_footer {
  width: 100%;
  border-top: solid #dfe1e6 1px;
  display: flex;
  justify-content: center;
  height: 40px;
  list-style: none;
  padding: 20px 90px;
  margin-bottom: 40px;
  margin-top: 124px;
}

.fo-github {
  background-image: url("./assets/github_icon_f.svg");
}

.fo-linkedin {
  background-image: url("./assets/linkedin_icon_f.svg");
}

.fo-angelist {
  background-image: url("./assets/angelist_icon_f.svg");
}

.fo-twitter {
  background-image: url("./assets/twitter_icon_f.svg");
}

.fo-medium {
  background-image: url("./assets/medium_icon_f.svg");
}

.social_media_footer i {
  display: block;
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.social_media_footer i:hover {
  background-color: rgba(15, 14, 14, 0.151);
}

.social_media_footer i:active {
  width: 50px;
  height: 50px;
}

/* Mobile menu */
.invisible {
  display: none;
}

.open_menu {
  position: absolute;
  background-color: #3c3a39;
  top: 50px;
  right: 0;
  padding: 50px 24px 24px 24px;
  min-width: 375px;
  height: 100vh;
  list-style: none;
  margin-top: 18px;
}

.nav-item {
  border-bottom: 1px solid #6f6c6b;
  margin-bottom: 24px;
  padding-bottom: 5px;
}

.close-button {
  position: absolute;
  right: 10px;
  padding-top: 30px;
}
